{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="centered-panel">
    <h4>Create Collection Item</h4>

    <form action="{% url 'add_to_collection' collection_id %}" method="POST" role="form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class='form-button-bar clearfix'>
            <div class="button-bar-right-elements">
                <a class="btn btn-outline-secondary" href="{% url 'explore_collection' collection_id 'image' %}">Cancel</a>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block dedicated_scripts %}
    <script src="{% static "collectionsapp/javascript/add_date_picker.js" %}"></script>
{% endblock %}