{% extends 'base.html' %}
{% load static %}


{% block body %}
    <link rel="stylesheet" href="{% static 'collectionsapp/css/collections.css' %}">
    <h1>Collections</h1>

    <div class="collections-container">
    {% for collection in collections %}
        <a class="collection-card" href="{% url 'explore_collection' collection.id 'image' %}">
            <div>
                <img src="{{ collection.image_thumbnail.url }}" alt="{{ collection.name }}">
                <div class="text-block">
                    <div class="truncate">
                        {{ collection.name }}
                        <table>
                            <tr>
                                <td><i class="dx-icon-user"></i></td>
                                <td>{{ collection.owner_username }}</td>
                            </tr>
                            <tr>
                                <td><i class="dx-icon-chart"></i></td>
                                <td>{{ collection.count }} {% if collection.count == 1 %} item{% else %} items{% endif %}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}
