{% extends 'base.html' %}
{% load static %}


{% block body %}
    <link rel="stylesheet" href="{% static 'collectionsapp/css/collections.css' %}">
    <h1>Collections</h1>

    <div class="collections-container">
    {% for collection in collections %}
        <a class="collection-card" href="{% url 'explore_collection' collection.id 'image' %}">
            <div>
                <img src="{{ collection.image_thumbnail.url }}" alt="{{ collection.name }}">
                <div class="text-block">
                    <div>
                        {{ collection.name }}
                    </div>
                    <div>
                        <span style="float: left">
                            {{ collection.count }} items
                        </span>
                        <span style="float: right">
                            <i class="dx-icon-user"></i>
                            {{ collection.owner_username }}
                        </span>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}
