{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="centered-panel">
    <link rel="stylesheet" href="{% static 'collectionsapp/css/collection_item_form_image_header.css' %}">
    <div id="sticky-header">
        <h4>Edit Collection Item</h4>
        {% if item_image %}
            <div id="shrinking-header" class="card">
                <div class="card-body" style="text-align: center;">
                    <img src="{{ item_image.url }}" id="collection-item-ref-img" alt="img">
                </div>
            </div>
        {% endif %}
    </div>


    <form enctype="multipart/form-data" method="POST" action="{% url 'edit_collection_item' collection_item_id %}"  role="form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class='form-button-bar clearfix'>
            {% if collection_owner == user %}
            <button type="button" class="btn btn-outline-danger button-bar-button-left" data-toggle="modal" data-target="#deleteConfirmationModal">Delete</button>
            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete this item?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            This will permanently delete collection item details and images.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger" href="{% url 'delete_collection_item' collection_item_id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="button-bar-right-elements">
                <a class="btn btn-outline-secondary" href="{% url 'bottle_cap' collection_item_id %}">Cancel</a>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block dedicated_scripts %}
    <script src="{% static "collectionsapp/javascript/collection_item_form_image_header.js" %}"></script>
{% endblock %}