{% extends 'base.html' %}
{% load static %}

{% if view == 'image' %}
    {% block dedicated_styling %}
        <link rel="stylesheet" href="{% static 'collectionsapp/css/image_grid.css' %}">
    {% endblock %}
{% endif %}

{% block body %}
    <h1>{{ collection_name }}
        {% if is_owner %}
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'edit_collection' collection_id %}" role="button">
                Edit
            </a>
        {% endif %}
    </h1>

    {% if has_description %}
    <div>
        <p>{{ collection_description }}</p>
    </div>

    {% endif %}
    
    <!-- Check if logged in user is owner of this collection  -->
    {% if is_owner %}
        <a href="{% url 'add_to_collection' collection_id%}">
            <button type="button" class="btn btn-outline-success">Add item to collection</button>
        </a>&nbsp;
    {% endif %}

    <div class="btn-group" role="group">
        {% if view == "image" %}
            <div class="btn btn-outline-secondary active">Image</div>
            <a class="btn btn-outline-secondary"
               href="{% url 'explore_collection' collection_id 'details' %}" role="button">Details</a>
        {% else %}
            <a class="btn btn-outline-secondary"
               href="{% url 'explore_collection' collection_id 'image' %}" role="button">Image</a>
            <div class="btn btn-outline-secondary active">Details</div>
        {% endif %}
    </div>

    {% if view == 'image' %}
        {% if collection_items.count <= 0 %}
            <p>No items in collection</p>
        {% else %}
            <div class="image-grid">
                {% for collection_item in collection_items %}
                    <div class="grid-item">
                        <a href="{% url 'bottle_cap' collection_item.id %}"
                           target="_blank" rel="noopener noreferrer">
                            <img src="{{ collection_item.image_thumbnail.url }}" alt="{{ collection_item }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="load-indicator-container">
                <div id="dxLoadIndicator"></div>
            </div>

            <input type="hidden" id="initial_load_quantity" value="{{ initial_load_quantity }}">
        {% endif %}
    {% elif view == 'imageanddetails' or view == 'details'%}
        <div id="gridContainer"></div>
    {% else %}
    {% endif %}

    <input type="hidden" id="collection-id" value="{{ collection_id }}">
{% endblock %}

{% block dedicated_scripts %}
    {% if view == 'imageanddetails' or view == 'details'%}
        <script src="{% static "collectionsapp/javascript/search_collection.js" %}"></script>
    {% elif view == "image" %}
        <script src="{% static "collectionsapp/javascript/image_grid.js" %}"></script>
    {% endif %}
{% endblock %}
