{% extends 'base.html' %}
{% load static %}

{% if view == 'image' %}
    {% block dedicated_styling %}
        <link rel="stylesheet" href="{% static 'collectionsapp/css/image_grid.css' %}">
    {% endblock %}
{% endif %}

{% block body %}
    <h1>{{ collection_name }}</h1>

    <!-- Check if logged in user is owner of this collection  -->
    {% if is_owner %}
        <a href="{% url 'add_to_collection' collection_id%}">
            <button type="button" class="btn btn-outline-success">Add item to collection</button>
        </a>&nbsp;
    {% endif %}

    <div class="btn-group" role="group">
        {% if view == "image" %}
            <div class="btn btn-outline-secondary active">Image</div>
            <a class="btn btn-outline-secondary"
               href="{% url 'explore_collection' collection_id 'details' %}" role="button">Details</a>
        {% else %}
            <a class="btn btn-outline-secondary"
               href="{% url 'explore_collection' collection_id 'image' %}" role="button">Image</a>
            <div class="btn btn-outline-secondary active">Details</div>
        {% endif %}
    </div>

    {% if view == 'image' %}
        {% if images.count <= 0 %}
            <p>No items in collection</p>
        {% else %}
            <div class="image-grid">
                {% for item in images %}
                    <div class="grid-item">
                        <a href="{% url 'bottle_cap' item.collection_item.id %}">
                            <img src="{{ item.image.url }}" alt="{{ item.collection_item }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% elif view == 'imageanddetails' or view == 'details'%}
        <div id="gridContainer"></div>
    {% else %}
    {% endif %}

    <input type="hidden" id="collection-id" value="{{ collection_id }}">
{% endblock %}

{% if view == 'imageanddetails' or view == 'details'%}
    {% block dedicated_scripts %}
        <script src="{% static "collectionsapp/javascript/search_collection.js" %}"></script>
    {% endblock %}
{% endif %}





