{% extends 'base.html' %}
{% load static %}


{% block body %}
    <link rel="stylesheet" href="{% static 'collectionsapp/css/image_grid.css' %}">
    <div class="image-grid">
        {% for item in items %}
            <div class="grid-item">
                <a href="{% url 'bottle_cap' item.collection_item.id %}">
                    <img src="{{ item.image.url }}" alt="{{ item.collection_item }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="load-indicator-container">
        <div id="dxLoadIndicator"></div>
    </div>

    <input type="hidden" id="initial_load_quantity" value="{{ initial_load_quantity }}">
{% endblock %}

{% block dedicated_scripts %}
    <script src="{% static "collectionsapp/javascript/image_grid.js" %}"></script>
{% endblock %}