{% extends 'base.html' %}
{% load static %}


{% block body %}
    <h1>{{ collection_item }}</h1>
    <p>Item #{{ collection_item.id }}/{{ itemsInCollection }} in {{ collectionName }} belonging to </p>

    <table class="item-info">
        {% for row in rows %}
            <tr>
                <td class="field-name">{{ row.attr }}</td>
                <td class="field-value">{{ row.value }}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Tags</h4>
    <ul>
        {% for tag in tags %}
            <li>{{ tag }}</li>
        {% endfor %}
    </ul>
{% endblock %}
