{% extends 'base.html' %}
{% load static %}


{% block body %}
    <h1>My Collections</h1>

    {% if isEmpty %}
        <p>You haven't started any collections.</p>
    {% else %}
        <ul>
            {% for collection in usersCollections %}
                <li><a href={% url 'explore_collection' collection_id=collection.pk view='image'%}>{{ collection }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'start_collection' %}">
        <button type="button" class="btn btn-outline-success">Start new collection</button>
    </a>



{% endblock %}
