{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="centered-panel">
    <h4>Start New Collection</h4>

    <form action="{% url 'create_collection' %}" method="POST" role="form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class='form-button-bar clearfix'>
            <div class="button-bar-right-elements">
                <a class="btn btn-outline-secondary" href="{% url 'home'%}">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
