{% extends 'collectionsapp/tag_search/tag_search_base.html' %}
{% load static %}

{% block tagsearch %}
    <p>Search <span class="badge badge-secondary">{{ search_criteria }}</span> within</p>
    <div class="btn-group" role="group">
        <a class="btn btn-secondary" href="{% url 'tag_search_collection' collection_id search_criteria %}">
            {{ collection_owner_username }}'s collection</a>
        <a class="btn btn-secondary active" href="#">All {{ collection_type_name }} collections</a>
    </div>

    <link rel="stylesheet" href="{% static 'collectionsapp/css/image_grid.css' %}">
    <div class="image-grid">
        {% for collection_item in search_results %}
            <div class="grid-item">
                <a href="{% url 'bottle_cap' collection_item.id %}">
                    <img src="{{ collection_item.image_thumbnail.url }}" alt="{{ collection_item }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
