html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

a:hover {
    text-decoration-line: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.body-wrapper {
  margin: 20px 3% 50px 3%;
}

.precedes-control {
    margin-top: 5px;
}

.management-utility {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
}

li.no-bullets {
    list-style-type: none;
}

.vertically-split-container{
    display: flex;
}

.fixed-width{
    width: 400px;
}

.flex-width{
    flex-grow: 1;
}

.item-display-form-container {
    display: flex;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 1;
}

.item-image {
    display:inline-block;
    float:right;
}

.item-details {
    display:inline-block;
    margin: 0 0 0 20px;
}

.tag-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.image-upload-button {
  margin: 0 auto;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 403px;
    max-height: 800px;
    width: 100%;
}

.centered-form {
    display: flex;
    justify-content: center;
}

.image-selector-container {
    margin-bottom: 5px;
}

.title-bar {
    padding-left: calc(50% - 445px);
    font-size: 1.8em;
    margin-bottom: 5px;
}

.spaced-control {
    margin-bottom: 5px;
}

.tag {
    margin-left: 5px;
}

.navbar-item-spaced {
    margin-right: 5px;
}

.navbar-title-text {
    font-family: 'Pacifico', cursive;
}

.centered-panel {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
}

.save-button {
    width: 300px;
    float: right;
}

#navbar.navbar-collapse.collapse.show > form {
    margin-bottom: 8px;
}

