{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="centered-panel">
        <div class="content-section">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Log In</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted"><a href="{% url 'password_reset' %}" >Forgot username/password?</a></small>
            </div>
            <small class="text-muted">New to Collectible?<a class="ml-2" href="{% url 'register' %}" >Create an account</a></small>
        </div>
    </div>
{% endblock %}