{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="centered-panel">
        <div class="content-section">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Register</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="g-recaptcha" data-sitekey="6Ler-WoaAAAAAOVNXXV1LyQG6neFrLP5Xb-MheAi" style="margin-bottom: 1rem;"></div>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Register</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">Already have an account?<a class="ml-2" href="{% url 'login' %}" >Log in</a></small>
            </div>
        </div>
    </div>
{% endblock %}

{% block dedicated_scripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}