{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div align="center">
        <!-- Header -->
        <h3>Registration</h3>

        {% if form.errors %}
            <p>There are errors in the form!</p>
        {% endif %}

        <div style="width: 300px;">
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}

                {{ form.username }}

                {{ form.password1 }}

                {{ form.password2 }}

                <input type="submit" value="signup">
            </form>
        </div>
    </div>
{% endblock %}